#form-body{
      position: absolute; 
    left:50%;
    top:50%;
    margin-top:-4em;
    margin-left:-10em;
    text-align:center;
 border-radius:10px;

    color:white;
    text-transform: uppercase;
    border:1em;}
a:active, a:hover {
    text-decoration: underline;
}
a{text-decoration: no-underline; }

a{ font-style: oblique; color:coral; }

html{
    margin: 0; background-image:url(bg_image/dark_tint.png), url(bg_image/def-big.gif);
}

#form input{
    width:100%;
    height:3em;

    padding-top:0.2em;
    font-family:"impact";
    text-align:center;
    font-style: oblique;
    border-radius: 10px;
}

#form input[type="submit"]{
    background:coral;
    color:whitesmoke;
    border: none;
    border-radius: 10px;

}ul {
    list-style-type: none;
    margin-top: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
   
    display: inline; float: left; 
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
.footer {
  padding: 5px 0;
  background-color:darkcyan;
  position:absolute;
  top: 97%;
  width: 100%;
height: 30px;
margin: 0;


}
p{text-align: center;}